@CHARSET "ISO-8859-1";


 #container {
    display: table;
    }

  #row  {
    display: table-row;
    }

  #left, #right, #middle {
    display: table-cell;
    }
    
    
ul{
	list-style-type: none;
}